.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#drag3 {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    background-color: green;
}


#drag2 {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    background-color: yellow;
    width: 80%;
}

#test{
    width:120%;
}

#drag6 {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    background-color: blue;
}

.drag3 {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    background-color:aqua;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
   border: 3px dotted #666;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

table.fixed {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 900px;
}
